<!doctype html>
<head>
    <title>Registrado!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
	 <script>
    // URL de destino y parámetros
    const url = 'https://juegogustosmusicales.azurewebsites.net/';
    const parametros = {
      name: '{{name}}',
      url: '{{url}}',
      token: '{{token}}'
    };

    // Construir la URL con parámetros
    const urlConParametros = new URL(url);
    Object.keys(parametros).forEach(key => urlConParametros.searchParams.append(key, parametros[key]));

    // Realizar la petición GET usando Fetch
    fetch(urlConParametros)
      .then(response => {
        if (!response.ok) {
          throw new Error(`Error en la petición: ${response.status}`);
        }
        return response.json();
      })
      .then(data => {
        console.log('Respuesta:', data);
        // Puedes realizar acciones adicionales con la respuesta aquí
      })
      .catch(error => console.error('Error:', error));
  </script>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <!-- <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/> -->
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <p class="fs-5">Hola {{name}} gracias por tu url: {{url}}</p>
            <p class="fs-5">
                Tu token es: {{token}}
            </p>
          </div>
     </main>      
   </body>
</html>