<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lista de listaUsuarios</title>
  </head>
  <body>
    <h1>Lista de listaUsuarios</h1>
    {% if mensaje_error %}
      <p>{{ mensaje_error }}</p>
    {% else %}
      <ul>
        {% for elemento in listaUsuarios %}
          <li>{{ elemento }}</li>
        {% endfor %}
      </ul>
    {% endif %}
	
	<h1>Lista de listaVotaciones</h1>
    {% if mensaje_error %}
      <p>{{ mensaje_error }}</p>
    {% else %}
      <ul>
        {% for elemento in listaVotaciones %}
          <li>{{ elemento }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
